@font-face {
    font-family: 'Outfit Thin';
    src:
    url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format(truetype);
}

@font-face {
    font-family: 'Young Serif Regular';
    src:
    url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format(opentype);
}
body {
    box-sizing: border-box;
    border: solid 200px #f3e5d8;
    border-width: 85px;
    padding: 20px;
    margin: auto;
    border-radius: 100px;
    outline: solid 200px #f3e5d8;  
}

img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 10px white solid;
    border-radius: 20px;
}

hr {
    width: 450px;
}

li {
    margin: 10px 0px;
}

li::marker {
    list-style-position: inside;
    color: #6a344b;
    font-weight: bold;
}

h1 {
    font-family: 'Young Serif Regular';
    font-size: 30px;
    color: #32312f;
    font-weight: lighter;
}

h2 {
    font-family: 'Young Serif Regular';
    font-size: 20px;
    font-weight: lighter;
    color: #7a4533;
}

h3 {
    color: #6a344b;
}

section {
    font-family: 'Outfit Thin';
    color: #61605c;
    font-size: 12px;
}

td {
    padding: 10px 200px 0px 0px;
}

table strong {
    color: #7a4533;
}

.preparation {
    box-sizing: border-box;
    background-color: #fff7fc;
    border: solid 5px #fff7fc;
    padding: 0px 10px;
    margin: 0px;
    border-radius: 10px;
}



